@model Euro24Tracker.Types.Nation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Punkte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Punkte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gegentore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gegentore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Torverhältnis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Torverhältnis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gruppe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gruppe.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
