@model Euro24Tracker.Types.Ereignis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ereignis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kommentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kommentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spiel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spiel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EreignisTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EreignisTyp.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TorNation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TorNation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
